/* css styling for custom font, and to align everything to center */
body {
  background: #006400;
  background-color: #006400;
  font-family: "Crimson Text", serif;
  font-size: 1.4em;
  padding: 0%;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.flexbox-item {
  border: 3px solid #333;
}

.flexbox-item-1 {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  align-items: left;
  /* justify-content: left; */
  align-content: flex-start;
  /* min-height: 50%; */
  /* min-width: 80%; */
}
.flexbox-item-2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flexbox-item-1 h2 {
  margin-left: 5%;
}

.flexbox-item-1 .card-display {
  margin-left: 10%;
}

/* resize card images */
.flexbox-item-1 .card-display img {
  /* transform: scale(0.6); */
  /* height: 200px; */
  width: 120px;
}

/* button styling (decide between class/id) */
button {
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 1.4em;
  width: 220px;
  margin: 2.5%;
  border-radius: 8px;
  transition-duration: 0.3s;
}

button:hover {
  background-color: blue;
  color: white;
}

button:active {
  /* background-color: red; */
  transform: translate(5px);
  transition-duration: 0.05s;
}

#hit-button {
  cursor: grab;
  /* width: 200px; */
}

#hit-button:active {
  cursor: grabbing;
}

.hide {
  display: none;
}

#results {
  font-size: 1.5em;
}

#top-up-input {
  margin: 20px;
  padding: 30px;
  border-radius: 8px;
  font-size: 16px;
}
