@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

th,
td {
  border: black;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}

.spacer,
.component {
  border: 2px solid skyblue;
}
