@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  font-family: "Oxygen", sans-serif;
  margin: 0;
  background-color: #072243;
  color: white;
}

.centered {
  /* margin: 3rem auto; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meal-button {
  background-color: #fdf5e2;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
  height: 7rem;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}

.recipe-meal-button {
  background-color: #fdf5e2;
  font-family: "Merriweather", serif;
  font-size: 1em;
  height: 5rem;
  width: 15rem;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}
.new-recipe-button {
  background-color: #d7f42f;
  font-family: "Merriweather", serif;
  font-size: 1.3em;
  height: 5rem;
  width: 14rem;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}

.macro-button {
  background-color: #fdf5e2;
  font-family: "Merriweather", serif;
  font-size: 1em;
  height: 3rem;
  width: 15rem;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}
.delete-button {
  background-color: #ff4507;
  font-family: "Merriweather", serif;
  font-size: 1em;
  height: 3rem;
  width: 15rem;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  margin: 10px;
  padding: 5px;
}

select {
  padding: 10px;
  border-radius: 3%;
  margin-left: 0.7rem;
}

.seperator {
  border: 2px solid black;
  border-radius: 3%;
  color: black;
  background-color: #ffc287;
  font-family: "Merriweather", serif;
  font-size: 1.2em;
  margin-left: 1rem;
  margin-right: 10rem;
}

.macro-input {
  padding: 7px;
  border-radius: 3%;
}

.navbar {
  height: 5rem;
  background-color: #ed602d;
  border: 1px solid black;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 2%;
  margin-bottom: 2rem;
}
.navbar nav {
  height: 100%;
}
.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}
.navbar li {
  margin-left: 1.4rem;
  margin-right: 1.7rem;
  width: 6rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 1.7em;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid whitesmoke;
}

.tdee-input {
  padding: 0rem;
  font-family: "Merriweather", serif;
  font-size: 1.5em;
}

#tdee-button {
  padding: 0.5rem;
  width: 5rem;
  background-color: #fdf5e2;
  font-family: "Merriweather", serif;
  font-size: 1em;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  height: 3rem;
  padding: 5px;
}

#edit-button {
  padding: 0.5rem;
  width: 6.8rem;
  background-color: #fdf5e2;
  font-family: "Merriweather", serif;
  font-size: 1em;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 6%;
  height: 2.5rem;
  padding: 5px;
}
#day-row {
  background-color: #0e5385;
  border: 1px solid black;
  border-style: solid;
  border-width: 1px 7px 5px 1px;
  border-radius: 2%;
  height: 4.8rem;
  display: flex;
  text-align: center;
  align-items: center;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 2em;
}

/* list css code */
/* "Add a comma after each list item." */
li::after {
  content: var(--separator);
  color: #ef5016;
  transition: color ease 200ms;
  font-weight: 700;
}

/* "Hold on, add a comma along with an 'and' after the second last list item." */
li:nth-last-of-type(2)::after {
  content: var(--separator) " " var(--connector) " ";
  color: #0058ff;
}

/* "Hang on, only add an 'and' after the second last list item if it's the first list item as well." */
li:first-of-type:nth-last-of-type(2)::after {
  content: " " var(--connector);
  color: #178717;
}

/* layout and decoration */
:root {
  --accent: #000000;
  --accent-alpha: #000000;
  --text: #000000;
  --text-secondary: #000000cc;
  --container: #0e5385;
  --section-color: #fff;
}

::selection {
  background-color: var(--accent-alpha);
  color: var(--section-color);
}

/* keep the <main> thing the <main> thing */

/* showcase the concept */
.container {
  /* position: relative; */
  width: 95%;
  background-color: var(--container);
  border-radius: 4px;
  box-shadow: 0.8em 0.8em 0 0 var(--accent-alpha);
  border: 2px solid var(--accent);
  margin-bottom: 1.5em;
  padding: 0 2em;
  box-sizing: border-box;
}

.container section {
  margin: 0.8em 0;
}

.container div {
  margin-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.6;
}

/* list styling Made with Coffee, Care, and Curiosity by @ShadowShahriar */
